<div class="container">
    <div class="row mt-2">

        <!-- photo & intro -->
        <div class="col-sm-6">
            <img class="img-fluid img-thumbnail" src="../assets/img/photo.png">
        </div>
        <div class="col-sm-6">
            <p>nancy.luu2045@gmail.com</p>
            <p>0981-780-680</p>
            <span>台北，台灣</span>
            <p>畢業於國北教大，研究領域為資訊教育<br>
                熱愛教學，透過遊戲提升學生的學習興趣<br>
                喜好設計，作品包含網頁設計與平面設計</p>
        </div>
        <!-- photo & intro End-->

        <!-- education -->
        <div class="row col-sm-12 my-3 ml-1 align-items-center">
            <div class="h-100 align-items-center col-sm-3 bg-orange">
                <h4>學歷</h4>
            </div>
            <div class="col-sm-9 border-orange">
                <h5>國立臺北教育大學 數學暨資訊教育學系 碩士<br>
                    國立澎湖科技大學 資訊管理學系 學士</h5>
            </div>
        </div>
        <!-- education end -->
    </div>
</div>