<div class="container">
    <div class="row mt-2">
        <div class="col-sm-6">
            <img class="img-fluid img-thumbnail" src="../assets/img/photo.png">
        </div>
        <div class="col-sm-6">
            <p>情境式程式除錯教學對大學生自
                我效能與學習成效之影響 </p>

            <span>2020</span>
            <p class="intro-text">本研究旨在透過情境式程式除錯範例，
                引導學生理解並解決程式中的錯誤，藉
                此了解情境式程式除錯教學對於大學一
                年級學生的程式除錯自我效能與程式學
                習成效之影響。本研究自編情境式程式
                除錯教材，引導受試者進行情境式程式
                除錯課程。</p>
            <a href="#0" class="btn-more sm-link sm-link_padding-bottom sm-link3">
                <span class="sm-link__label">詳細資料</span>
            </a>

        </div>
    </div>

    <div class="row mt-2">
        <div class="col-sm-6">
            <img class="img-fluid img-thumbnail" src="../assets/img/photo.png">
        </div>
        <div class="col-sm-6">
            <p>情境式程式除錯教學對大學生自
                我效能與學習成效之影響 </p>

            <span>2020</span>
            <p>本研究旨在透過情境式程式除錯範例，
                引導學生理解並解決程式中的錯誤，藉
                此了解情境式程式除錯教學對於大學一
                年級學生的程式除錯自我效能與程式學
                習成效之影響。本研究自編情境式程式
                除錯教材，引導受試者進行情境式程式
                除錯課程。</p>
            <a href="#" class="btn btn-primary">詳細資料</a>


        </div>
    </div>





    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    凱比星際初體驗-女媧創造幼幼程式
                    編輯課程 / Jul 2020
                </h5>
                <p class="card-text">
                    本教材以STEAM作為教育核心，融合了科
                    學、技術、工程、藝術、數學等相關領域，
                    根據美國 CSTA、教育部幼保大 綱《幼兒
                    園教保活動課程大綱》六大領域的教學課
                    程。透過實體卡片、程式設計，啟蒙學生
                    的運算思維與邏輯思考能力，同時培養學
                    生團隊合作、解決複雜問題等。
                </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">澎湖島嶼生活記憶 / 開發中</h5>
                <p class="card-text">
                    澎湖島嶼生活記憶涵蓋了澎湖民間知識，
                    如：地方誌數位化、廟宇分佈、節慶傳
                    統飲食等，透過此平台搜集電子文檔，
                    進行民間知識的保存。
                </p>
                <a href="#" class="btn btn-primary">相關連結</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">澎湖島嶼生活記憶 / 開發中</h5>
                <p class="card-text">
                    澎湖島嶼生活記憶涵蓋了澎湖民間知識，
                    如：地方誌數位化、廟宇分佈、節慶傳
                    統飲食等，透過此平台搜集電子文檔，
                    進行民間知識的保存。
                </p>
                <a href="#" class="btn btn-primary">相關連結</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">澎湖島嶼生活記憶 / 開發中</h5>
                <p class="card-text">
                    澎湖島嶼生活記憶涵蓋了澎湖民間知識，
                    如：地方誌數位化、廟宇分佈、節慶傳
                    統飲食等，透過此平台搜集電子文檔，
                    進行民間知識的保存。
                </p>
                <a href="#" class="btn btn-primary">相關連結</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">澎湖島嶼生活記憶 / 開發中</h5>
                <p class="card-text">
                    澎湖島嶼生活記憶涵蓋了澎湖民間知識，
                    如：地方誌數位化、廟宇分佈、節慶傳
                    統飲食等，透過此平台搜集電子文檔，
                    進行民間知識的保存。
                </p>
                <a href="#" class="btn btn-primary">相關連結</a>
            </div>
        </div>
    </div>
</div>