<div class="filter filter-basic mt-2">
    <h3 (click)="findAll()">作品集</h3>

    <div class="filter-nav">
        <button class="btn badge-pill bg-red ml-2" (click)="findAll()">全部</button>
        <button class="btn badge-pill bg-orange ml-2" (click)="findTag('paper')">碩士論文</button>
        <button class="btn badge-pill bg-dark-gray ml-2" (click)="findTag('teaching')">教材開發</button>
        <button class="btn badge-pill bg-yellow ml-2"(click)="findTag('website')">網頁設計</button>
        <button class="btn badge-pill bg-green ml-2" (click)="findTag('project')">專題比賽</button>
        <button class="btn badge-pill bg-bule ml-2" (click)="findTag('design')">平面設計</button>
    </div>

    <div class="filter-gallery">
        <div *ngFor="let data of data_">
            <div (click)="findTag(data.tag)">
                <div class="row mt-4">
                    <div class="col-sm-4">
                        <img class="img-fluid img-thumbnail img-box" src="../assets/img/{{data.img}}">
                    </div>
                    <div class="col-sm-8  align-self-center">
                        <p>{{data.title}}
                            <a href="#" class="badge badge-pill {{data.tag_color}}"
                                data-filter="{{data.title}}">{{data.tag_ch}}</a>
                        </p>
                        <span>{{data.time}}</span>

                        <p class="intro-text">{{data.text}}
                        </p>
                        <a href="{{data.link}}" class="btn-more sm-link sm-link_padding-bottom sm-link3" target="blank">
                            <span class="sm-link__label">{{data.linkName}}</span>
                        </a>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>