    <!-- experience -->
    <div class="col-sm-12 timeline-section">
        <h3>經歷</h3>
        <div class="timeline">
          <div class="timeline-box left">
            <div class="timeline-content">
              <h5>橘子蘋果程式教育學苑</h5>
              <span>講師，June 2018-現今</span>
              <p>擔任國小國中程式課程講師，耐心教導每一位學生，利用
                生活實例講解程式抽象化的概念，目前每堂課皆有20位學
                員以上。</p>
            </div>
          </div>
          <div class="timeline-box right">
            <div class="timeline-content">
              <h5>香港商女媧創造股份有限公司</h5>
              <span>教材開發人員，Feb 2020-Aug 2020</span>
              <p>女媧科技研發的AI機器人，預期成為國小及幼兒園程式啟蒙工具之一，並將產品定位為
                教育機器人。負責開發國小、幼兒園階段程式教材；擔任培訓課程之講師，推廣機器人
                程式教育。</p>
            </div>
          </div>
          <div class="timeline-box left">
            <div class="timeline-content">
              <h5>臺灣少年駭客人才培育營</h5>
              <span>總召，2016-2017 Summer</span>
              <span>顧問，2019 Summer</span>
              <p>協調各方意見，規劃五天營隊課程及活動；營隊中邀請資
                策會講師進行授課，課程包含：漏洞分析、數位鑑識、逆
                向工程、竊取網路封包等相關技術。在上課過程中擔任助
                教角色，除幫助學員解決技術問題外，也增進自我實力。</p>
            </div>
          </div>
          <div class="timeline-box right">
            <div class="timeline-content">
              <h5>數學益智成長營</h5>
              <span>實習導師，Oct 2018-Jan 2019</span>
              <p>為國北教大數資系主辦的營隊活動，活動目標為實際到小學現場教學，過程中需設計
                一周的教學內容，在我設計的其中一堂課融合數學與資訊教材應用於課堂中。</p>
            </div>
          </div>
          <div class="timeline-box left">
            <div class="timeline-content">
              <h5>力麗科技股份有限公司</h5>
              <span>實習工程師，Feb 2018-July 2018</span>
              <p>負責撰寫及統整專案技術文件，擅於整理資料，將各式文件進行系統化的管理。
              </p>
            </div>
          </div>
          <div class="timeline-box right">
            <div class="timeline-content">
              <h5>國立澎湖科技大學 資訊管理學系</h5>
              <span>系學會會長，June 2016-May 2017</span>
              <p>規劃整年度系務活動，成為系上老師與學生間重要的溝通橋樑，且將會內組織管理的有
                條有理、氣氛融洽之至。</p>
            </div>
          </div>
        </div>
      </div>
      <!-- experience end -->