h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
    font-family:  "Microsoft JhengHei", "fantasy", "monospace" !important;
}

.container {
    width: 70%;
  }

.toolbar {
    width: 100%;
    text-align: center;
    padding: 10px 0px;
    background-color: #FFA159;
    color: #FFF;
}

img {
    width: 100%;
}

.bg-orange{
    background-color: #FFAD6F;
}

.btn-more {
    float: right;
    right: 0;
    padding: 5px;
    color: #FFAD8F;
}

/* link animation */

.sm-link{
	--uismLinkDisplay: var(--smLinkDisplay, inline-flex);	
	--uismLinkTextColor: var(--smLinkTextColor);
	--uismLinkTextColorHover: var(--smLinkTextColorHover);	
	
	display: var(--uismLinkDisplay);
	color: var(--uismLinkTextColor);
	position: relative;
	overflow: hidden;
}

a.sm-link{
	text-decoration: none;
}

.sm-link__label{
  display: block;
}

/* sm-link_padding-bottom */ 

.sm-link_padding-bottom{
	--uismLinkLineWeight: var(--smLinkLineWeight, 2px);
	--uismLinkLineColor: var(--smLinkLineColor, #FFAD8F);	
	
	padding-bottom: var(--uismLinkLineWeight);	
	position: relative;
}

.sm-link_padding-bottom::after{
    content: "";
    width: 100%;
    height: var(--uismLinkLineWeight);
	background-color: var(--uismLinkLineColor);
    position: absolute;
    left: 0;
    bottom: 0;
}

.sm-link3::after{
    transform: translate3d(-100%, 0, 0);
    transition: transform .2s ease-in;
}
  
.sm-link3:hover::after{
    transform: translate3d(0, 0, 0);
}

/* link animation end */

.border-orange {
    border: 0.5px solid #FFad6f;
}

.intro-text {
    max-height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

  /* Timeline */
  .timeline-section {
    box-sizing: border-box;
  }

  .timeline-section h3 {
      text-align: center;
      color: #C35500;
  }

  .timeline-box {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  /* The actual timeline (the vertical ruler) */
  .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #C35500;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /* The circles on the timeline */
  .timeline-box::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -12px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the container to the left */
  .left {
    left: 0%;
  }
  
  /* Place the container to the right */
  .right {
    left: 50%;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid #FF9F55;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #FF9F55;
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid #FF9F55;
    border-width: 10px 10px 10px 0;
    border-color: transparent #FF9F55 transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -13px;
  }
  
  /* The actual content */
  .timeline-content {
    padding: 10px 15px;
    background-color: #fff;
    position: relative;
    border: 1px solid #FF9F55;
    border-radius: 6px;
  }

  .timeline-content span {
      margin: 0 0 0 10px;
      width: 100%;
      word-break: normal;
      display: block;
      white-space: pre-wrap;
      color: #C35500;
  }
  
  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
  /* Place the timelime to the left */
    .timeline::after {
      left: 31px;
    }
  
  /* Full-width containers */
    .container {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }
  
  /* Make sure that all arrows are pointing leftwards */
    .container::before {
      left: 60px;
      border: medium solid #FF9F55;
      border-width: 10px 10px 10px 0;
      border-color: transparent #FF9F55 transparent transparent;
    }
  
  /* Make sure all circles are at the same spot */
    .left::after, .right::after {
      left: 15px;
    }
  
  /* Make all right containers behave like the left ones */
    .right {
      left: 0%;
    }
  }